# Ignore action build files
*.so
lib/
.build/

# Ignore vim temp files
*.swp

# Ignore gedit temp files
*~

# Ignore QtCreator temp files
*.user

# Ignore docs
*/doc/html
*/doc/manifest.yaml

# Ignore deprecated actions
actions/

# Ignore test files
*test.cpp
jaeger-client-cpp/

# Ignore tracing related thins
tracer_lib_path